body {
    background-image: url('giphy.gif'); /* Używamy nazwy pliku 'giphy.gif' jako tła */
    background-size: 30%; /* Zmniejszamy rozmiar tła do 30% oryginalnego */
    background-repeat: repeat; /* Powtarzamy obrazek tła */
    font-family: Arial, sans-serif;
    color: #333; /* Dodajemy domyślny kolor tekstu */
}

.card {
    background-color: rgba(255, 255, 255, 0.8); /* Dodajemy nieprzezroczyste tło dla laurki */
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.card p {
    margin-bottom: 10px; /* Dodajemy odstęp między akapitami */
}

.button {
    background-color: #4CAF50; /* Kolor tła przycisku */
    color: white; /* Kolor tekstu na przycisku */
    padding: 10px 20px; /* Wielkość wewnętrznych marginesów przycisku */
    border: none; /* Usuń obramowanie przycisku */
    border-radius: 5px; /* Zaokrąglony narożnik przycisku */
    cursor: pointer; /* Zmień kursor na wskaźnik podczas najechania */
}

.button:hover {
    background-color: #45a049; /* Zmiana koloru tła na najechanie myszą */
}

.ball {
    animation: bounce 2s infinite; /* Użyj animacji bounce na piłce */
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
